.jumbotron-nyamuk{
    background-image: url(../images/8941c6c1964e516f74ad887c25d03d50.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -185px;
    height: 190px;
    position: relative;
}

ul.list-group{
    .list-group-item{
        border-bottom: 2px solid #E0DFDF !important;    
        a{
            color: #1A1A1A;
            text-decoration: none;
        }  
    }
    .list-group-item:hover{
        border-bottom: 2px solid #C9D408 !important;
        a{
            color: #0E817B;
            text-decoration: none;
            font-weight: bolder;
            
        }  
    }
}

@media (max-width : 924px){

    .jumbotron-nyamuk{
        background-position-y: -110px !important;
    }

}

@media (max-width: 762px)
{
    .jumbotron-nyamuk{
        background-position-y: 0 !important;
    }
}