.pd-0{
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    color: #646464;
}

.desktop-show{
    display: none;
    @media screen and (min-width:991px) {
        display: block;
    }
}

.mobile-show{
    display: none;
    @media screen and (max-width:991px) {
        display: block;
    }
}

.bg-sidebar{
    background-color: #F7F7F7;
}

.list-pejabat-wrapper{
    .list-pejabat{
        border-bottom: 1px solid #E3E3E3;
        .name{
            color: #0E817B;
            font-weight: 700;
        }
    }
}

.mobile-column{
    @media screen and (max-width:991px) {
        flex-direction: column !important;
    }
}

.reverse-mobile{
    @media screen and (max-width:768px){
        flex-direction: column-reverse;
    }
}

/* Slideshow container */
.slideshow-container {
    position: relative;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }
  
  /* Next & previous buttons */
  .previous, .nexts {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .nexts {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .previous:hover, .nexts:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .ovals-container {
    text-align: center;
    padding: 20px;
  }
  
  /* The dots/bullets/indicators */
  .ovals {
    cursor: pointer;
    height: 5px;
    width: 30px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 30%;
    display: inline-block;
    transition: background-color 0.6s ease;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
}
  
  /* Add a background color to the active dot/circle */
  .active-slide, .ovals:hover {
    background-color: #C9D408 !important;
  }
  
  /* Add an italic font style to all quotes */
  q {font-style: italic;}
  
  /* Add a blue color to the author */
  .author {color: cornflowerblue;}

#navbarSupportedContent{
    margin-left: 50px;
    li{
        // margin-right: 5px !important;
        .btn-linkg{
            padding: 10px 12px;
            color: rgba(0,0,0,.5);
            outline: none !important;
            box-shadow: none !important;
            &:hover{
                i{
                    color: #fff;
                }
                span{
                    color: #fff;
                }
            }
            @media screen and (min-width:991px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                &::after{
                    content: '';
                    border: none;
                }   
            }
        }
    }
}
nav.navbar{
    &.navbar-expand-lg{
        &.navbar-light {
        padding: 0;
        }
    }
}
.nav-li-active{
    background-color: #0E817B !important;color: white !important;
    a:active{
        color: white;
    }
}

li.li-nav:hover{
    background-color: #0E817B !important;color: white !important;
    a.nav-a-item{
        color: white !important;
    }
}

li.li-nav:active{
    background-color: #0E817B !important;color: white !important;
    a.nav-a-item:active{
        color: white !important;
    }
}

.brand-img{
    width: 90%;
}

// BreadCumbs
/*Menghilangkan liststyle pada tag list*/
.breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /*Merubah tag list menjadi inline dan membuat hruf menjad capital*/
.breadcrumb{
    background-color: rgba(0,0,0,0);
    li{
        display: inline;
        a{
            color:#646464;
        }
        
    }
}
.breadcrumb li+li:before {
    content:">";
    color:#646464;
    margin-left: 5px;
    margin-right: 5px;
}
.breadcrumb li:hover a:hover {
    content:">";
    color:#FFFFFF;
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .navbar{
        padding: 23px !important;
        #navbarSupportedContent{
            margin-left: 0 !important;
        }
    }
    .brand-img{
        width: 250px;
    }
}

// home//
.breaking{
    .br-news {
        width: 24%;
        color: #fff;
        margin: 0 !important;
        margin-top: 5px;
        position: relative;
        &::before{
            z-index: 1;
            content: '';
            position: absolute;
            width: 100%;
            border-right: 50px solid transparent;
            border-top: 50px solid #0C958E;
            left: 0;
        }
        span{
            color: #fff;
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-transform: uppercase;
            font-weight: 600;
        }
    }
    p{
        margin: 0;
    }
}
.col-news{
    background-color: #F0F0F0;
    .breaking {
        min-height: 40px;
        overflow: hidden;
        position: relative;
    }
}
.breaking-img{
    height: 9vh !important;
}

.p-breaking{
    // line-height: 50px;
    p{
        // font-size: 14px !important;
        a{
            color: #C9D408 !important;
            font-weight: 600;
        }
    }
}

.breadcumb-wrapper{
    background-color: #E3E3E3;
    .breadcrumb{
        color: #646464;
        .breadcrumb-item + .breadcrumb-item::before {
            content: ">";
        }
        a{
            color: #0C958E;
            &:hover{
                color: #0C958E !important;
            }
        }
    }
}

#wrapp-bg {
    background: #F0F0F0;
}

.slide-table{
    margin-top: 34px;
    .bg-datatbl{
        background-image: url(../images/Widget-COvid-02.png);
        background-size: cover;background-repeat: no-repeat;
    }
    .single-item{
        margin-bottom: 30px;
        // max-height: 350px;
        // overflow: hidden;
        .wr-slide {
            position: relative;
            height: 350px;
            .block-cart {
                position: absolute;
                background-color: rgba(0,0,0,.7);
                width: 40%;
                height: 100%;
                top: 0;
                .caption-col{
                    color: #ffffff;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 80%;
                    h4{
                        font-size: 16px;
                        font-weight: 600;            
                    }
                    p{
                        font-size: 14px;
                    }
                    span{
                        font-size: 13px;
                    }
                }
                a{
                    color: #C9D408 !important;
                    position: absolute;
                    bottom: 20px;
                    right: 20px;
                    font-size: 13px;
                    text-decoration: none;
                }
            }
        }
        .slick-dots {
            position: absolute;
            width: auto;
            top: 20%;
            left: 25px;
            display: block;
            padding: 0;
            margin: 0;
            list-style: none;
            text-align: center;
            li{
                position: relative;
                display: inline-block;
                width: 20px;
                height: 0;
                padding: 0;
                margin-right: 20px;
                cursor: pointer;
                &.slick-active{
                    button{
                        background: #C9D408;
                    }
                }
                button{
                    font-size: 0;
                    line-height: 0;
                    display: block;
                    width: 40px;
                    height: 0px;
                    padding: 2px;
                    cursor: pointer;
                    color: transparent;
                    border: 0;
                    outline: none;
                    background: #bbbbbb;
                    &::before{
                        content: '' !important;
                    }
                }
            }
        }
    }
}

.card-penyakit{
    background-color: #0C958E !important;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
    a{
        color:white;
        text-decoration: none;
    }
    .card-body:hover
    {
        
        background-color: #0E817B !important;
        a{
            color: #C9D408;
        }
        svg path{
            fill: #C9D408;
            .cls-1, .cls-2{
                fill: #C9D408; 
            }
        }
        
    }
}

.card-agenda{
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    position: relative;
    .lb-text{
        position: absolute;
        left: 30px;
        z-index: 1;
    }
}

.agenda{
    h6{
        font-size: 14px;
        a{
            color:#0C958E !important;
            text-decoration: none;
        }
        :hover{
            a{
                color:  #0E817B !important;
                text-decoration: underline;
            }
        }
    }

}
.card-column{
    margin-top: 23px;
}
.card-agenda{
    .card{
        position: relative;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        .list-agenda{
            position: absolute;
            left: 0 !important;
            padding: 0 15px 0 0;
        }
    }
    
}
.card-catalouge{
    margin: 34px 0;
    .text-center{
        h4{
            font-weight: 600;
        }
    }
    .card.slick-slide{
        margin: 15px;
        &:hover{
            .dl-fa {
                display: block;   
            }
        }
        .card-text{
            color: #6c757d;
            font-weight: 600;
            text-decoration: none;
            &:hover{
                color: #19B3AB;
            }
        }
        .dl-fa {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #C9D408;
            padding: 5px 10px;
            border-radius: 5px;
            a{
                color: #ffffff;
                font-size: 14px;
                text-decoration: none;
            }
        }
    }
    a.btn.dl-btn {
        background-color: #19B3AB;
        color: #ffffff;
    }
}
.colwidth{
    width: 80%;
}
.socmed{
    i.fab{
        color: #212529;
        font-size: 30px;
    }
}

@media screen and (max-width: 767px) {
    .col-news{
        .br-news{
            display: none;
        }
        .p-breaking{
            padding: 8px;
            p {
                margin: 0;
                font-size: 12px;
            }
        }
    }

    .slide-table {
        .single-item{
             .wr-slide{
                height: 426px;
                .block-cart{
                    position: relative;
                    width: 100%;
                    padding: 23px;
                    height: auto;
                    .caption-col{
                        position: relative;
                        transform: inherit;
                        top: 0;
                        left: 0;
                    }
                    a{
                        position: relative;
                        bottom: inherit;
                        right: inherit;
                    }
                }
             }
        }
    }
    .agenda-column{
        .card-agenda{
            img.img-fluid{
                height: auto !important;
            }
        }
    }
}

// product
.jumbotron-nyamuk{
    background-image: url(../images/8941c6c1964e516f74ad887c25d03d50.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -185px;
    height: 190px;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.7);
        z-index: 1;
    }
    .col-contain{
        position: relative;
        z-index: 2;
        .breadcrumb{
            a{
                color: #ffffff;
            }
        }
    }
}

ul.list-group{
    .list-group-item{
        border-bottom: 2px solid #E0DFDF !important;    
        border: none;
        a{
            color: #1A1A1A;
            text-decoration: none;
            font-weight: bolder;
        }  
        &:last-child{
            border-bottom: none !important;
        }
    }
    .list-group-item:hover{
        border-bottom: 2px solid #C9D408 !important;
        a{
            color: #0E817B;
            text-decoration: none;
        }  
    }
}

@media (max-width : 924px){

    .jumbotron-nyamuk{
        background-position-y: -110px !important;
    }

}

@media (max-width: 762px)
{
    .jumbotron-nyamuk{
        background-position-y: 0 !important;
    }
}

// news list//

.search-top-wrapper{
    margin-bottom: 47px;
    .col-left{
        @media screen and (max-width:768px){
            width: 100%;
            display: flex;
        }
        select{
            width: 150px;
            margin-left: 5px;
            border-radius: 5px;
            background: transparent;
            padding-left: 12px;
            @media screen and (max-width:768px){
               margin-left: auto;
            }
        }
    }
    .col-right{
        @media screen and (max-width:768px){
            width: 100%;
        }
        .search-wrapper{
            position: relative;
            .input-group-text{
                background: transparent;
                position: absolute;
                right: 0;
                top: 5px;
            }
        }
    }
    .border-bar {
        border-bottom: 1px solid;
        margin: 23px 0;
    }
}

.sidebar-right{
    .hd-lable{
        .lbl{
            font-weight: 600;
            margin-right: 10px;
        }
        .line-center{
            border-bottom: 1px solid #C9D408;
        }
        &.video-col{
            margin-top: 34px;
        }
    }
    .video-sidebar,.event-sidebar,.gallery-sidebar{
        margin-top: 34px;
    }
    .wrap-list{
        margin-top: 18px;
        // border-bottom: 1px dashed;
        padding-bottom: 15px;
        .bd-btm {
            border-bottom: 1px dashed;
            margin-top: 13px;
        }
        .img{
            position: relative;
            a{
                display: block;
                position: relative;                
                .hover{
                    background: rgba(14, 129, 123, 0.6);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: none;
                    .fas{
                        color: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        width: 100%;
                        font-size: 16px;
                    }
                }
                &:hover{
                 .hover{
                     display: block;
                     top: 0;
                 }   
                }   
            }
        }
        .sidetitle{
            font-size: 14px;
            font-weight: 600;
            a{
                color: #212529;
                text-decoration: none;
                &:hover{
                    color: #0E817B;
                }
            }
        }
        span{
            font-size: 12px;
            color: #646464;
            &.profile{
                background: #666666;
                padding: 3px 6px;
                color: #ffffff;
                border-radius: 5px;
            }
        }
        span.number{
            font-size: 20px;
            font-weight: 600;
        }
        .mb-gl{
            margin-bottom: 30px;
        }
        .vid-slider{
            .slick-arrow{
                z-index: 1;
                &:before{
                    background-color: rgba(0,0,0,.5);
                    border-radius: 5px;
                    padding: 5px;
                }
                &.slick-prev {
                    left: 50px;
                }
                &.slick-next {
                    right: 50px;
                }
            }
        }
    }
}

.page-wrapper{
    .detail-page-wrapper{
        .title{
            font-weight: 700;
            font-size: 30px;
        }
    }
}

.news-list{
    margin-bottom: 54px;
    .group-news{
        margin-bottom: 34px;
        .img{
            position: relative;
            @media screen and (max-width:768px) {
                height: 80px;
            }
            a{
                display: block;
                position: relative;           
                @media screen and (max-width:768px) {
                    height: 100%;
                }     
                .hover{
                    background: rgba(14, 129, 123, 0.6);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: none;
                    .fas{
                        color: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        width: 100%;
                        font-size: 16px;
                    }
                }
                &:hover{
                 .hover{
                     display: block;
                     top: 0;
                 }   
                }   
                img{
                    @media screen and (max-width:768px) {
                        object-fit: cover;
                        height: 100%;
                    }
                }
            }
        }
        .subtitle-news{
            margin-bottom: 15px;
            font-size: 15px;
            a{
                color: #212529;
                text-decoration: none;
                &:hover{
                    color: #0E817B;
                }
            }
        }
        .atribute-col {
            color: #646464;
            font-size: 14px;
        }
    }
    
    .navigation-pagging{
        margin-top: 34px;
        .page-item{
            margin-right: 4px;
            .page-link{
                background-color: #646464;
                color: #ffffff;
                border-radius: 4px;
                border: none;
            }
            &.active{
                .page-link{
                    background-color: #0E817B;
                }
            }
        }
    }
    &.detail-news{
        margin-top: 34px;
        .wrapp-detail{
            .title{
                margin-top: 34px;
                h2{
                    font-weight: 600;
                }
                span{
                    font-size: 12px;
                    color: #646464;
                }
            }
            .col-redaktur{
                margin-top: 34px;
                p{
                    font-size: 14px;
                }
            }
            .main-article{
                margin-bottom: 34px;
                .wrcol-img{
                    margin-bottom: 13px;
                    .img-inner {
                        padding-right: 23px;
                    }
                }
                .share-col{
                    margin-top: 23px;
                    span{
                        font-weight: 600;
                    };
                    i.fab{
                        font-size: 24px;
                    }
                }
            }
        }
        .col-redaktur.btm{
            margin: 34px 0;
            p{
                font-weight: 600;
                span{
                    font-size: 12px;
                    color: #646464;
                }
            }
        }
        .col-related-new{
            margin: 34px 0;
            .lbl{
                margin-bottom: 23px;
                span{
                    font-weight: 600;
                }
            }
            .group-news-bottom{
                .sidetitle{
                    font-weight: 600;
                    a{
                        color: #212529;
                        text-decoration: none;
                        &:hover{
                            color: #0E817B;
                        }
                    }
                }
                span{
                    font-size: 12px;
                    color: #646464;
                }
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .col-redaktur{
        .item-img{
            width: auto;
        }
    }
    .col-related-new{
        .col-md-6.item-news{
            margin-bottom: 12px;
        }
    }
    .main-content{
        margin-bottom: 34px;
    }
}

// ============ jurnal ================//
.list-jurnal{
    .group-news {
        .img{            
            border-radius: 8px;
            overflow: hidden;
            @media screen and (max-width:768px) {
                margin-bottom: 20px;
            }
            a{
                display: block;
                position: relative;
                .hover{
                    background: rgba(14, 129, 123, 0.6);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: none;
                    
                    .fas{
                        color: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        width: 100%;
                        font-size: 16px;
                    }
                }
                &:hover{
                 .hover{
                     display: block;
                     top: 0;
                 }   
                }  
            }
            img{
                @media screen and (max-width:768px) {
                    width: 250px;
                }
            }
        }
        .row-title{
            display: block !important;
            .subtitle-news{
                margin-bottom: 0;
                @media screen and (max-width:768px) {
                    margin-bottom: 20px;
                }
                a{
                    color: #0E817B;
                    font-size: 18px;
                    font-weight: 700;
                    text-decoration: none;
                }
            }
        }
        .bt-file {
            background-color: #BFBFBF;
            text-align: center;
            font-size: 14px;
            @media screen and (max-width:768px) {
                width: 120px;
                margin-bottom: 20px;
            }
            a{
                color: #646464;
                text-decoration: none;
            }
            &:hover{
                background-color: #0E817B;
                a{
                    color: #ffffff;
                }
            }
        }
        .atribute-col{
            margin: 10px 0;
        }
    }
    .news-sidebar{
        .wr-group-list{
            margin-top: 23px;
            .list-group{
                .list-group-item{
                    border-bottom: 1px dashed #646464 !important;
                    padding-left: 0;
                    a{
                        font-weight: normal;
                        color: #646464;
                    }
                }
            }
        }
    }
}